
dbus-python==1.2.16
dj-static==0.0.6
Django==3.2.7
gunicorn==20.1.0
pytz==2019.3
pyxdg==0.26
PyYAML==5.3.1
reedsolo==1.5.4
reportlab==3.5.34
requests==2.22.0
sniffio==1.2.0
sqlparse==0.4.2
starlette==0.17.1
static3==0.7.0
systemd-python==234

