<html>
    <head>
        <!--Bootstrap-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--responsive-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><!--ButtonsIcon-->
        <link rel="stylesheet" href="estilo.css"><!--ourStyle-->
        <script type="text/javascript" src="script.js"></script><!--ourJava-->

        <meta charset="utf-8">
        <Title>NORMATIVIDAD CONTABLE</Title>
    </head>

    <body>
    
        <nav class="navbar navbar-dark" style="background-color: #fc7323;">
            <a class="navbar-brand" href="../home.html">Home</a>
            <a class="nav-link" href="#" style="background-color: #ffffff; color:#fc7323;">Logout</a>
        </nav>
    

    <center>            
        <br/>
        <div style="width: 100%;"><div style="position: relative; padding-bottom: 200%; padding-top: 0; height: 0;"><iframe frameborder="0" width="800px" height="1600px" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" src="https://view.genial.ly/60bd6e55c7b06f0d5d798ff2" type="text/html" allowscriptaccess="always" allowfullscreen="true" scrolling="yes" allownetworking="all"></iframe> </div> </div>
        <br/>
    </center>


    <footer class="navbar navbar-dark" style="background-color: #fc7323;">
        <a class="nav-link" href="#" style="color: #ffffff;">soporte</a>
    </footer>

    </body>
</html>