<html>
    <head>
        {% load static %}
        <!--Bootstrap-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"><!--responsive-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><!--ButtonsIcon-->
        <link rel="stylesheet" href="{%static 'estilo.css' %}"><!--ourStyle-->
        <script type="text/javascript" src="script.js"></script><!--ourJava-->

        <meta charset="utf-8">
        <Title>Pagina Principal</Title>
    </head>

    <body>
    
        <nav class="navbar navbar-dark" style="background-color: #fc7323;">
            <a class="navbar-brand" href="#">Navbar</a>
            <a class="nav-link" href="#" style="background-color: #ffffff; color:#fc7323;">Logout</a>
        </nav>
    
    </br>
    <div class="p-3 mb-2 bg-white text-dark">
        <h3>
            {{nombre}}
            <small class="text-muted">Lvl {{nivel}}</small>
        </h3>
    </div>

    <center>            
        <div class="container">
           
            <div class="row">

                <div class="col-md -6">
                <div class="card">
                    <img class="card-img-top" src="{%static 'img/consEmpresas.jpeg'%}" alt="Card image cap" >
                    <div class="card-body">
                        <h5 class="card-title">CONSTITUCIÓN DE EMPRESAS</h5>
                        <p class="card-text">Querido aprendiz,  el proyecto de constituir tu empresa con todos sus requisitos, se convertirá en realidad de manera literal. ¡Feliz inicio!</p>
                        <button class="btn btn-primario btn-lg btn-block fa fa-bars" type="button" data-toggle="collapse" data-target="#contenido1" aria-expanded="false" aria-controls="contenido1"></button>
                    </div>
                </div>
                </div>
                <div class="col-md -6">
                <div class="collapse" id="contenido1">
                    <div class="card card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="{% url 'Cons_Aprende' %}"><img src="{% static 'iconos/book.png' %}"> Aprende</a></li>
                            <li class="list-group-item"><a href="{% url 'Cons_Evalua' %}"><img src="{%static 'iconos/test.png'%}"> Evalua</a></li>
                            <li class="list-group-item"><a href="https://kevin-cueva.github.io/novela/constitucion.html"><img src="{%static 'iconos/vr.png'%}"> Practica</a></li>
                        </ul>
                    </div>
                </div>    
                </div>
                 
            </div>
			
			<br />
            <button type="button" onclick="window.open('https://kevin-cueva.github.io/vr/')" class="btn btn-vr btn-outline-warning btn-lg btn-block"><img src="{%static 'iconos/glases.png'%}"><br /> Sesión de realidad virtual inmersiva</button>
            <br />
			
            <div class="row">

                <div class="col-md -6">
                <div class="card">
                    <img class="card-img-top" src="{%static 'img/indice.jpeg'%}" alt="Card image cap" >
                    <div class="card-body">
                        <h5 class="card-title">NORMATIVIDAD CONTABLE</h5>
                        <p class="card-text">Llegó el momento de comprender cual es el marco normativo de tu empresa, será muy divertido y lo mejor de todo es que aprenderás mucho.</p>
                        <button class="btn btn-primario btn-lg btn-block fa fa-bars" type="button" data-toggle="collapse" data-target="#contenido2" aria-expanded="false" aria-controls="contenido2"></button>
                    </div>
                </div>
                </div>
                <div class="col-md -6">
                <div class="collapse" id="contenido2">
                    <div class="card card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="{% url 'Norm_Aprende' %}"><img src="{%static 'iconos/book.png'%}"> Aprende</a></li>
                            <li class="list-group-item"><a href="{% url 'Norm_Evalua' %}"><img src="{%static 'iconos/test.png'%}"> Evalua</a></li>
							<li class="list-group-item"><a href="https://kevin-cueva.github.io/novela/normas.html"><img src="{%static 'iconos/vr.png'%}"> Practica</a></li>
						</ul>
                    </div>
                </div>    
                </div>
                 
            </div>

        </div>

    	<br />
        <button type="button" class="btn btn-c1 btn-lg btn-block"><img src="{%static 'iconos/creando.gif'%}" width="90" height="auto"><br />Creando mas temas ...</button>
        <br />
		
    </center>

    <footer class="navbar navbar-dark" style="background-color: #fc7323;">
        <a class="nav-link" href="#" style="color: #ffffff;">soporte</a>
    </footer>

    </body>
</html>