<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %} <!--Carga la carpeta-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'estilos.css' %}">
    <title>Document</title>
</head>
<body>
    
    <div class="container">
    <h1>LOGIN</h1>
    <form action="/" method="POST" id="formulario">
        {% csrf_token %} <!--seguridad-->
        {{ form.as_p }}
        
        <p><label>Número de documento:<br> <input type="number" id="documento" name="documento" required pattern="([1-9]+\\d*)|[0]" ></label></p>
        
        <p><label>Contraseña:<br> <input type="password" id="contra1" name="contra1" required pattern="^.{6,20}$"></label></p>

        <button type="submit" id="submit">Identificarse</button>

    </form>

</div>
</body>

</html>
