<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %} <!--Carga la carpeta-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'estilos.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Inicio de sesion</title>
</head>
<body>
<center>
    <div class="w3-container">
    
    <form action="/" method="POST" id="formulario" class="w3-card-4">
        {% csrf_token %} <!--seguridad-->
        {{ form.as_p }}
        
        <div class="w3-container w3-orange">
            <h2 style="color:#ffff;">Inicio de sesion</h2>
          </div><br/>

        <p><label>Número de documento:<br> <input type="number" class="w3-input" id="documento" name="documento" required pattern="([1-9]+\\d*)|[0]" ></label></p>
        
        <p><label>Contraseña:<br> <input type="password" class="w3-input" id="contra1" name="contra1" required pattern="^.{6,20}$"></label></p>

        <button type="submit" id="submit" class="btn btn-primary btn-lg">LOGIN</button>
        <p>¿No tienes cuenta? <a href="form_register.html" style="color: blue;">Registrate</a></p>
        <br/><br/><br/>
    </form>
        
</div>
</center>
</body>

</html>
